.dropzone {
    min-height: initial;
}

.upload-img-template-wrap {
    position: relative;
    display: inline-block;
    margin-top: 25px;
}

.btn-upload-img-close {
    color: #E72412;
    position: absolute;
    right: -25px;
    top: -25px;
    cursor: pointer !important;
}

.btn-upload-img-close * {
    cursor: pointer !important;
}

#search_results_loading .loader {
    display: none;
}

#search_results_loading {
    padding: 30px;
}

.loading #search_results_loading .loader {
    display: block;
}

#search_results_loading .loader__text {
    text-align: center;
}

.loading #search_results_body {
    display: none;
}

.search {
    overflow: auto;
}